*
{
    margin: 0;
    padding: 15px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
    font-size:larger;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
}
nav
{
    position: relative;
    height: 100px;
    background: #000;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav a
{
    position: relative;
    display: inline-block;
    font-size: 1em;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    padding: 0 23px;
    z-index: 1;
}
nav span
{
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 100%;
    background: linear-gradient(45deg,green,green);
    border-radius: 8px;
    transition: 0ms.5s;
}
nav a:nth-child(1):hover~span
{
    left: 0;
   
}
nav a:nth-child(2):hover~span
{
    left: 160px;
}
nav a:nth-child(3):hover~span
{
    left: 345px;
    width: 160px;
}
nav a:nth-child(4):hover~span
{
    left: 530px;
    width: 240px;
}