*{
    justify-content: space-around;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;  
    font-size: larger;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
   
}

nav
{
    position: relative;
    height: 90px;
    background: #000;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 850px;
    padding-left: px;
    padding-right: 50px;
    
}
nav a{
    position:relative;
    display: inline-block;
    font-size: 1em;
    font-weight: 500;
    color: white; 
    text-decoration: none;
    padding:0 23px;
    z-index: 1;          
} 
nav span{ 
    position: absolute;
    top: 0;
    left: 20px;
    width: 100px;
    height: 100%;
    background: linear-gradient(45deg,green,green);
    border-radius: 20px;
    transition: 0ms.5s;
}
nav a:nth-child(1):hover~span
{
    left: 0;  
    
}
nav a:nth-child(2):hover~span
{
    left: 140px;
    width: 160px;
}
nav a:nth-child(3):hover~span
{
    left: 330px;
    width: 160px;
}
nav a:nth-child(4):hover~span
{
    left: 520px;
    width: 240px;
}

img{
    
    float: right;
    padding-top: 800px;
} 

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    justify-content: center;
    align-items: center;
    padding-left: 200px;
    padding-right: 50px;
}
nav ul li a:hover{
    color: greenyellow;
    transition: .4s;
}
.content{
    position:absolute;
    top: 38%;
    left: 15%;
    transform: translateY(-50%);
}
h1{
    color: white;
    margin: 20px 0px 20px;
    font-size: 50px;
}
h4{
    color:white;
    margin: 20px 0px 20px;
    font-size: 75px;
}
span{
    color: rgb(13, 231, 13);
}
h3{
    color:white;
    margin: 20px 0px 20px;
    font-size: 50px; 
}
h2{
    color:white;
    margin: 20px 0px 20px;
    font-size: 50px; 
} 
.about{
    width: 100%;
    padding: 100px 0px;
} 

#cornerimg{
    position: absolute;
    height: auto;
    width: 450px;
    top: 491px;
    left: 100px;
    float:left;
}
.about-text{
    width: 550px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h8{
    color:white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;

}
h8{
    position: absolute;
    top: 1250px;
    left: 570px;
    color: white;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}
.para1{
    position: absolute;
    margin-right: 15%;
    width: px;
    top: 1350px;
    left: 590px;
    color: white;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}
.para2{
    position: absolute;
    width: px;
    top: 1600px;
    left: 590px;
    color: white;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}
.button{
    position: absolute;
    margin: 0;
    top: 1850px;
    left: 620px;
    width: 320px;
    background-color:#000;
    font-size: 35px;
    color: white;
    border: 5px solid;
    text-transform: uppercase;
    letter-spacing: 10px;
    cursor: pointer;
    border-radius: 100px;
}
.button:hover{
    box-shadow: 0 5px 50px 0 #aaff00 inset, 0 5px 50px 0 #aaff00,
                0 5px 50px 0 #aaff00 inset, 0 5px 50px 0 #aaff00;

    text-shadow: 0 0 5px #aaff00, 0 0 5px #aaff00;
}
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               